@font-face {
    font-family: "U8";
    src: url("fonts/U8-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #062863;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    min-height: 100vh;
    /* width: 100%; */
}

a {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: 9px;
    font-family: "Karla", sans-serif;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

a:hover :not(#bt) {
    color: gray;
}

.link {
    margin: 30px;
}

/*footer {
  margin: 15px;
}*/

.logo {
    padding: 40px;
    margin: 10px;
}

.regLogo {
    padding: 28px;
    margin: 4px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login {
    color: #083e9e;
    font-weight: 700 !important;
    font-size: 20px !important;
    word-spacing: 2px;
    font-family: U8 !important;
}

.loginText {
    color: #4a5568;
    font-family: "Karla", sans-serif;
    font-size: 14px;
    margin-top: 5px;
}

.font-display {
    font-family: Karla, serif;
    font-size: 12px;
    font-weight: 600;
}

input,
select {
    display: block;
    border: none;
    margin: 1em -15px;
    border: 1 solid #edf2f7;
    outline: none;
    font-size: 100%;
    background-color: #edf2f7;
    width: 25rem;
    border-radius: 8px;
    padding: 15px;
}

/* select {
  width: calc(25rem - 50px);
} */

label {
    color: #4a5568;
    margin: 0 -16px;
    font-family: Karla, serif;
    font-size: 12px;
    font-weight: 600;
}

.con {
    padding: 0 0 2em;
    text-align: center;
}

.sec1 {
    background-color: #fff;
    padding: 1.8rem 2.9rem;
    border-radius: 1.25rem 1.25rem 1.25rem 0;
    z-index: 1;
}

.bgDesign {
    position: fixed;
}

.blueImg {
    position: absolute;
    width: 207px;
    left: -8px;
    top: -73px;
}

.pinkImg {
    position: absolute;
    top: 30em;
    left: -97px;
    width: 226px;
}

.purpleImg {
    position: absolute;
    width: 207px;
    left: 72em;
    top: 28em;
}

.greenImg {
    position: fixed;
    width: 176px;
    left: 73em;
    z-index: -5;
}

.password {
    margin-bottom: 1em;
}

.btn {
    border: none;
    background-color: #0d60d8;
    padding: 18px;
    justify-content: center;
    margin: 1em -17px;
    border-radius: 0.8rem 0.6rem 0.6rem 0;
    color: #fff;
    width: 25rem;
    display: block;
    margin-top: 40px;
}

.regBtn {
    background-color: rgb(8, 62, 158);
    border-radius: 0.8rem 0.6rem 0.6rem 0;
    color: #fff;
    width: 25rem;
    font-weight: 70%;
    font-family: U8;
    font-size: 14px;
}

.btnReg {
    margin-top: 0;
}

@media screen and (max-width: 500px) {
    .sec1 {
        padding: 2.3rem;
        border-radius: 1.25rem 1.25rem 1.25rem 0;
    }

    .btn {
        padding: 16px 9em;
        width: 20rem;
    }

    .regBtn {
        padding: 16px;
        width: 20rem;
        text-align: center;
        white-space: nowrap;
        word-spacing: 4px;
        font-style: 17px;
        margin-left: -2px;
    }

    .regSec {
        padding: 30px 18px;
    }

    input {
        width: 19.5rem;
    }

    .regInput {
        margin: 1em 5px !important;
    }

    .regLabel {
        margin: 0 5px;
    }

    .hide {
        visibility: hidden;
    }

    .greenImg {
        position: relative;
        width: 62px;
        left: 22em;
        z-index: -5;
    }

    select {
        width: calc(25rem - 87px);
        margin: 1em 5px !important;
    }
}
